/**
 * Nudge the logo down a bit.
 */
.navbar .logo {
  padding-top: 5px;
}

/**
 * Fix DateAPI field styles.
 */
.container-inline-date {
  margin-bottom: 10px;
}
.container-inline-date .control-label {
  display: block;
}
.container-inline-date .date-padding {
  padding-left: 0;
}

/**
 * Fix Views exposed filter/sort.
 */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
  padding: 6px 12px;
}

/**
 * Fix checkboxes in Views Bulk Operations.
 */
.views-field-views-bulk-operations .checkbox input[type="checkbox"] {
  margin-left: 0;
}
