user.role.*.third_party.farm_role:
  type: mapping
  label: 'Farm Role'
  mapping:
    access:
      type: mapping
      label: 'Access config'
      mapping:
        config:
          type: boolean
          label: 'Grant config permissions'
        entity:
          type: mapping
          label: 'Entity permissions'
          mapping:
            view all:
              type: boolean
              label: 'Grant view permissions for all entities.'
            create all:
              type: boolean
              label: 'Grant create permissions for all entities.'
            update all:
              type: boolean
              label: 'Grant update permissions for all entities.'
            delete all:
              type: boolean
              label: 'Grant delete permissions for all entities.'
            type:
              type: sequence
              label: 'Entity types'
              sequence:
                type: sequence
                label: 'Entity type'
                sequence:
                  type: sequence
                  label: 'Operation'
                  sequence:
                    type: string
                    label: 'Bundle'
