.farm-map {
  height: 400px;
}

.ol-popup-content {
  width: 300px;
}
.ol-popup-content .ol-popup-name {
  font-size: 20px;
}
.ol-popup-content .ol-popup-description {
  max-height: 200px;
  overflow: auto;
}
