/*
  Styling for the asset map_popup view mode page.
 */

/* Remove the page background color and body top padding. */
body.path-asset {
  --gin-toolbar-y-offset: 0;
  background: unset !important;
}

/* Remove extra space on the left. */
.toolbar-tray-open:not(.toolbar-vertical) .layout-container {
  margin: 0 !important;
}

/* Remove extra space from the bottom. */
.layout-container .page-content {
  margin-bottom: 0;
}

/* Remove background and top/bottom padding from header */
.region-sticky {
  background: unset !important;
  padding: 0 !important;
}

/* Make dropbutton items align to the left. */
.dropbutton .dropbutton__items {
  left: 0 !important;
  right: auto !important;
}
