/*
  Improve styling of comments. This includes the comment on
  the entity and comment reply page.
 */
article.comment {
  background: var(--gin-bg-layer);
  border: 1px solid var(--gin-border-color-layer);
  border-radius: var(--gin-border-m);
  padding-left: 1em;
  padding-inline-end: 2rem;
  padding-bottom: 0.5em;
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}
article.comment p.comment__submitted {
  font-size: var(--gin-font-size-s);
  color: var(--gin-color-text-light);
}
article.comment ul.links.inline {
  margin-inline: 0;
}
/* Alter border style when comment is rendered on entity page. */
/* TODO: choose a border style. */
section.comment-wrapper article.comment {
  /* Wrap comments in border. */
  border: 1px solid var(--gin-border-color);
  border-radius: var(--gin-border-m);
  /* OR add border as left bar. */
  border-left: 5px solid var(--gin-border-color-secondary);
}
