/* Decrease spacing in gin node edit form. */
.block-system-main-block > form.gin-node-edit-form {
  padding: var(--gin-spacing-m);
}
.block-system-main-block > form.gin-node-edit-form .form-type--vertical-tabs,
.block-system-main-block > form.gin-node-edit-form .vertical-tabs {
  margin-top: 0;
}

/* Decrease width of vertical tabs in node edit form. */
form .layout-node-form .vertical-tabs .vertical-tabs__menu {
  width: 10em;
}
form .layout-node-form .vertical-tabs .vertical-tabs__items.vertical-tabs__panes {
  margin-left: 10em;
}
