/**
 * @file
 * Styling for farmOS flags.
 */

/*
 * Default style for flags.
 *
 * Based on the Claro + Gin button--small.
 */
.flag {
  display: inline-block;
  margin: 0.25rem 0;
  padding: .3rem .5rem;
  text-align: center;
  text-decoration: none;
  color: var(--colorGinButtonText);
  border: 2px solid var(--colorGinPrimary);
  border-radius: 12px;
  background-color: var(--colorGinPrimary);
  font-size: .79rem;
  font-weight: 700;
  line-height: 1rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.flag--monitor {
  background-color: var(--colorGinPrimary);
  border-color: var(--colorGinPrimary);
}
.flag--monitor {
  background-color: var(--colorGinDanger);
  border-color: var(--colorGinDanger);
}
.flag--review {
  background-color: var(--colorGinWarning);
  border-color: var(--colorGinWarning);
}

/* Hide the "Flags" label from views table rows. */
td.views-field-flag-value .field__label {
  display: none;
}
