{#
/**
 * @file asset.html.twig
 * Default theme implementation to present asset data.
 *
 * This template is used when viewing asset pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_asset()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('asset') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
