/**
 * Eliminate extra space at the top.
 */
.navbar.container, .navbar.container-fluid {
  margin-top: 0;
}

/**
 * Nudge the logo down a bit.
 */
.navbar .logo {
  padding-top: 5px;
}

/**
 * Reset calendar class width in menu.
 */
.menu .calendar {
  width: auto;
}

/**
 * Hide page title on homepage.
 */
body.front h1.page-header {
  display: none;
}

/**
 * Style help glyphicon in page title.
 */
.page-header .glyphicon-question-sign {
  color: #3a87ad;
  cursor: pointer;
  font-size: 0.75em;
}

/**
 * Remove padding and list style from user login block links (request new password).
 */
form#user-login-form ul {
  padding-left: 0;
}
form#user-login-form ul li {
  list-style: none;
}

/**
 * Add up/down arrow to collapsible fieldset and accordion headings.
 */
.resp-accordion:after,
fieldset.collapsible .panel-heading .fieldset-legend:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: left;
  color: grey;
  margin-right: 10px;
  transition: all 0.5s;
}
.resp-accordion.resp-tab-active:after,
fieldset.collapsible .panel-heading .fieldset-legend.collapsed:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.resp-accordion .resp-arrow {
  display: none;
}

/**
 * Override styles of responsive accordion tabs/content to match Bootstrap.
 */
h2.resp-accordion {
  background-color: #fcfcfc !important;
}
.resp-vtabs .resp-tabs-container,
.resp-vtabs li.resp-tab-active,
h2.resp-tab-active,
.resp-tab-content {
  border-color: #dddddd !important;
}
.resp-tabs-container {
  margin-bottom: 1em;
}

/**
 * Tweak widths of responsive vertical tabs.
 */
.resp-vtabs ul.resp-tabs-list {
  width: 15%;
}
.resp-vtabs .resp-tabs-container {
  width: 85%;
}
@media only screen and (max-width: 768px) {
  .resp-vtabs .resp-tabs-container {
    width: 100%;
  }
}

/**
 * Colorbox image styles.
 * @see farm_theme_preprocess_field() in template.php.
 */
.field-name-field-farm-images .field-item {
  float: left;
  padding: 5px;
}

/**
 * Fix DateAPI field styles.
 */
.container-inline-date {
  margin-bottom: 10px;
}
.container-inline-date .control-label {
  display: block;
}
.container-inline-date .date-padding {
  padding-left: 0;
}

/**
 * Fix Views exposed filter/sort.
 */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
  padding: 6px 12px;
}

/**
 * Fix checkboxes in Views Bulk Operations.
 */
.views-field-views-bulk-operations .checkbox input[type="checkbox"] {
  margin-left: 0;
  position: relative;
}

/**
 * Display VBO checkboxes inline in Views Tree displays.
 * Note: the .views-tree class must be added manually to the View's
 * "Advanced > CSS class" setting.
 */
.views-tree .views-field-views-bulk-operations div.checkbox {
  display: inline;
}
.views-tree .views-field-views-bulk-operations .checkbox label {
  padding-left: 0;
}

/**
 * Increase the default font size within maps to create larger buttons.
 */
.openlayers-map-container .gm-style {
  font-size: 16px;
}

/**
 * Set max-height and overflow styles for layerswitcher.
 */
.openlayers-map-container .layer-switcher .panel {
  max-height: 400px;
  overflow-y: auto;
}

/**
 * Fix Modal popup close button (x).
 * See https://www.drupal.org/node/2563967
 */
.modal-header .close {
  color: #222222;
}

/**
 * Improve Bootstrap Tour styling.
 */
.tour .btn {
  padding: 6px 12px;
}
.tour .popover-content {
  font-size: 16px;
}
