input#edit-save[disabled],
input#edit-save[disabled]:hover,
input#edit-reset[disabled],
input#edit-reset[disabled]:hover {
  background-color: var(--colorGinDisabled);
  border: 2px solid var(--colorGinDisabled) !important;
  box-shadow: 0 1px 2px var(--colorGinDisabled);
  pointer-events: none;
  color: var(--colorGinButtonText);
}
