/**
 * Replicate Bootstrap's embed-responsive classes since mkdocs-bootswatch is
 * using an old version of Bootstrap.
 */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 0px;
    overflow: hidden;
}
.embed-responsive-4by3 {
    padding-bottom: 75%;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

