name: Publish 2.x docs to GitHub Pages
on:
  push:
    branches:
      - '2.x'

jobs:
  deploy:
    name: Publish docs to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install Mkdocs
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install mkdocs
      - name: Build static files
        run: mkdocs build
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          cname: 2x.farmos.org
